@model MutualBank.Models.Case

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNeedHelp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNeedHelp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseAddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseAddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasePhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasePhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSerAreaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSerAreaNavigation.AreaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseSkil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseSkil.SkillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseUser.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
