@model MutualBank.Models.PostPageVM

@{
    ViewData["Title"] = "Index";
}
@{
    var msgDataString = Newtonsoft.Json.JsonConvert.SerializeObject((List<MessageVM>)ViewBag.messages);
    var msgDataStringCh = Newtonsoft.Json.JsonConvert.SerializeObject((List<MessageChVM>)ViewBag.msgChild);
}
@section Styles
    {
    <link rel="stylesheet" href="~/css/postpage.css" asp-append-version="true" />

}

    <main id="postpage">
        <div class="postpage" id="postpage">
            <div class="page-top">
                <div class="page-title"> @Html.DisplayFor(Model=>Model.CaseTitle) </div>
                <div calss="need">@Html.DisplayFor(Model=>Model.SkillName)</div>
            </div>
            <!-- 圖片與資訊 -->
            <div class="page-botton">
                <!-- 圖片 -->
                <div class="author-pic">
                    <div class="pic-frame">
                        <img src="@Html.DisplayFor(Model=>Model.CasePhoto)" alt="無此圖片">
                    </div>
                </div>
                <!-- 資訊 -->
                <div class="author">
                    <span class="author-pic-name">
                        <span class="authorpicture-frame">
                            <img src="@Html.DisplayFor(model=>model.UserPhoto)" alt="" onerror="this.src = '/postpage/userhphotonull.svg';this.onerror = null" class="author-picture">
                        </span>
                        <span class="author-name">
                            <h2 href="" style="padding-left:20px; font-size:16px" class="authorname">@Html.DisplayFor(Model=>Model.UserNName)</h2>
                        </span>
                    </span>
                    <div class="author-itemlist">
                        <div calss="post-time">
                            <span>
                                <i class="fa-regular fa-calendar"></i>
                            </span>
                            <span style="padding-left:6px;">建立日期：<span>@Html.DisplayFor(Model=>Model.CasesAddDate)</span></span>
                        </div>
                        <div calss="need-time">
                            <span>
                                <i class="fa-regular fa-clock"></i>
                            </span>
                            <span style="padding-left:3px ">需求時間：<span>@Html.DisplayFor(Model=>Model.CaseSerDate)</span></span>
                        </div>
                        <div calss="need-location">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <span style="padding-left:5px ">地點：<span>@Html.DisplayFor(Model=>Model.Areacity)</span></span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 介紹 -->
            <div calss="atricle-content-frame">
                <div class="article-contnt-title">
                    <span>簡介</span>
                </div>
                <div class="article-content">
                    <span class="article">@Html.DisplayFor(Model=>Model.CaseIntroduction)</span>
                </div>
            </div>
            <!-- 留言板 -->
            <div class="messageboard-frame" id="">
                <div class="messageboard-title"> 留言</div>
                <!-- 輸入訊息 -->
                <form asp-action="AddComment" asp-controller="PostPage">
                    <div class="comment-frame">
                        <div>
                            <div class="user-pic">
                                <img src="@Html.DisplayFor(model=>model.LoginHPhoto)" alt="" onerror="this.src = '/postpage/userhphotonull.svg';this.onerror = null" class="author-picture">
                            </div>
                        </div>

                        <div class="textarea-box">
                            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入你的訊息"
                                  maxlength="200" rows="3" name="content"></textarea>
                            <div class="statics-text">0/200字</div>
                        </div>
                        <div class="col-auto">
                            <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="commentbtn" disabled data-caseid="@Model.CaseId" value="留言" />
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            新增成功
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div id="message">

                    <!-- 回應爸爸 -->
                    <div class="respone-mes-frame" v-for="item in msglist">
                        <div class="responer-pic">
                            <a href="">
                                <div class="pad-avatar">
                                    <img src="{{item.MagUserPhoto}}" alt="" onerror="this.src = '/postpage/userhphotonull.svg';this.onerror = null" class="respons-picture">
                                </div>
                            </a>
                        </div>

                        <div class="pad-content">
                            <div>
                                <div class="responser-name">{{item.MsgUserName}}</div>
                            </div>
                            <div class="responser-context">
                                <div class="text">
                                    {{item.MsgContent}}
                                </div>
                            </div>
                            <div class="response-day-button">
                                <i class="fa-regular fa-clock"></i>
                                <span class="post-time">留言日期：{{item.MsgAddDate|showDate}}</span>
                                <span class="replay-btn">回覆</span>

                            </div>
                            <!-- 回應小孩 -->
                            <div class="comment-bother-frame" v-for="item in msglistch">
                                <div class="comment-bother">
                                    <a href="" class="comment-pic-frame">
                                        <div style="width: 24px; height: 24px;" class="avatar-frame">
                                            <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                        </div>
                                    </a>
                                    <div class="comment-brother-re">
                                        <div class="responser-name-frame">
                                            <a class="responser-name" href="">{{item.MsgUserName}}</a>
                                            <div class="reply-user">
                                                <span>回覆給：</span>
                                                <div class="comment-bother">
                                                    <a href="">
                                                        <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                                    </a>
                                                </div>
                                                <a>名稱</a>
                                            </div>

                                        </div>
                                        <div class="text">回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</div>
                                        <div class="response-day-button">
                                            <i class="fa-regular fa-clock"></i>
                                            <span class="post-time">XX 天前</span>
                                            <span class="replay-btn">回覆</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 回應訊息輸入 -->
                            <!-- <div class="comment-bother-frame-input">
                                <div class="comment-bother-input">
                                    <a href="" class="comment-pic-frame">
                                        <div style="width: 24px; height: 24px;" class="avatar-frame">
                                            <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                        </div>
                                    </a>
                                        <div class="textarea-box">
                                            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入你的訊息"
                                                maxlength="200" rows="3"></textarea>
                                            <div class="statics-text">0/200字</div>
                                        </div>
                                        <div class="col-auto-input">
                                            <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" id=commentbtmre>留言</button>
                                        </div>

                                    </div>
                                </div> -->
                            <!--  -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    @section Scripts
    {

    <script>
        var msgData = @Html.Raw(msgDataString);
        var msgDataCh = @Html.Raw(msgDataStringCh)
        let PP = new Vue({
            el: "#postpage",
            data: {
                msglist: msgData,
                msglistch: msgDataCh
            },
            filters: {
                showDate: function(e) {
                    if (e.includes("T")) {
                        return e.split("T")[0];
                    }
                }
            },

        })
    </script>
    <script src="~/js/PostPage.js"></script>
}
