@model MutualBank.Models.PostPageVM

@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <link rel="stylesheet" href="~/css/postpage.css" asp-append-version="true" />
}

    <main id="" class="container">
        <div class="postpage container-fluid" id="">
            <div class="page-top">
                <div class="page-title fs-2"> @Html.DisplayFor(Model=>Model.CaseTitle) </div>
                <div calss="need">@Html.DisplayFor(Model=>Model.SkillName)</div>
            </div>
            <!-- 圖片與資訊 -->
            <div class="page-botton row">
                <!-- 圖片 -->
                <div class="author-pic col-xs-1 col-md-5 col-xl-6">
                    <div class="pic-frame">
                        <img src="@Html.DisplayFor(Model=>Model.CasePhoto)" alt="無此圖片">
                    </div>
                </div>
                <!-- 資訊 -->
                <div class="author col-md-5 col-sm-10 col-xl-6">
                    <span class="author-pic-name">
                        <span class="authorpicture-frame">
                            <a href="/Profile/Index/@Model.UserId">
                                <img src="@Html.DisplayFor(model=>model.UserPhoto)" alt=""  class="author-picture">
                            </a>

                        </span>
                        <span class="author-name">
                            <h2 href="" style="padding-left:20px; font-size:16px" class="authorname">@Html.DisplayFor(Model=>Model.UserNName)</h2>
                        </span>
                    </span>
                    <div class="author-itemlist">
                        <div calss="post-time">
                            <span>
                                <i class="fa-regular fa-calendar"></i>
                            </span>
                            <span style="padding-left:6px;">建立日期：<span>@Html.DisplayFor(Model=>Model.CasesAddDate)</span></span>
                        </div>
                        <div calss="need-time">
                            <span>
                                <i class="fa-regular fa-clock"></i>
                            </span>
                            <span style="padding-left:3px;">需求時間：<span style="overflow-wrap:anywhere;">@Html.DisplayFor(Model=>Model.CaseSerDate)</span></span>
                        </div>
                        <div calss="need-location">
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <span style="padding-left:5px ">地點：<span>@Html.DisplayFor(Model=>Model.Areacity)@Html.DisplayFor(Model=>Model.AreaTownname)</span></span>
                        </div>
                    </div>
                <!-- 選擇交易對象 -->
                    <div id="confirmCase" v-if="isOwner">
                        <div class="mt-4">
                            <button v-if="isWaitForTrans" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#listModal">
                                選擇交易對象
                            </button>
                            <button v-else type="button" class="btn btn-outline-primary" title="可至個人頁點選結案" disabled>
                                案件執行中
                            </button>
                        </div>
                        <!-- modal (target user list) -->
                        <div class="modal fade" id="listModal"
                         tabindex="-1" aria-labelledby="listModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" v-bind:class={"modal-dialog-scrollable":isModalNeedScroll}>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">選擇交易對象</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-nowrap p-0" v-bind:class={'m-0':isPostHasMsg,'m-3':!isPostHasMsg}>
                                        <ul class="selectList p-0 m-0"  v-if="isPostHasMsg">
                                            <li class="d-flex justify-content-start userItem" name="userItem"
                                            :data-userid="item.UserId" :data-username="item.UserName"
                                            v-for="item in msgUserModel" v-on:click="selectUser">
                                                <input type="radio" name="inpUser" class="m-3 pe-none"
                                                   :value="item.UserName" style="width:20px;">
                                                <div class="userPhotoBx pe-none">
                                                    <img class="pe-none" v-bind:src="item.UserPhoto">
                                                </div>
                                                <label class="m-auto ms-2 pe-none">{{item.UserName}}</label>
                                            </li>
                                        </ul>
                                        <span v-else class="fw-300 fs-16 m-5 ms-0">還沒有人留言</span>
                                    </div>

                                    <div class="modal-footer" v-if="isPostHasMsg">
                                        <div class="me-0">
                                            <label>點數：</label>
                                            <input id="inpPoint" class="me-2 inputPoint" type="text" maxlength="3" title="請輸入數字"
                                               v-model.number="finalPoint" v-on:keypress="isNumber" v-bind:disabled="setPointLock" v-bind:style={"color:darkgray":setPointLock,"color:var(--black)":!setPointLock}>
                                            <div class="d-inline-block" id="setPointEnable" v-on:click="setPointEnable">
                                                <i class="fa-solid fa-pen-to-square pe-none"></i>
                                            </div>
                                        </div>
                                        <div class="fs-14 w-100 text-end">
                                            <label v-show="isPointExcess">請勿超過持有點數</label>
                                        </div>
                                        <div>
                                            <span  class="me-2">將與<strong>&nbsp;{{selectedUser}}&nbsp;</strong>交易<strong>&nbsp;{{finalPoint}}&nbsp;</strong>點</span>
                                            <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                            <button  v-on:click="modalBeBelow" type="button" v-bind:disabled="isPointExcess"
                                                id="btnSelectTarget" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                                確認
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal (final confirm) -->
                        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">確認交易</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center fs-18">
                                        確定要選擇<span class="btn selectedUser fs-18">&nbsp;{{selectedUser}}&nbsp;</span>，並交易<strong>&nbsp;{{finalPoint}}&nbsp;</strong>點嗎？
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" :data-targetid="selectedUserId" v-on:click="savePointTransLog">確認</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 介紹 -->
            <div calss="atricle-content-frame">
                <div class="article-contnt-title">
                    <span>簡介</span>
                </div>
                <div class="article-content">
                    <span class="article">@Html.DisplayFor(Model=>Model.CaseIntroduction)</span>
                </div>
            </div>
            <!-- 留言板 -->
            <div class="messageboard-frame" id="postpage">
                <div class="messageboard-title"> 留言</div>
                <!-- 輸入訊息 -->
                <form asp-action="AddComment" asp-controller="PostPage">
                    <div class="comment-frame">
                        <div>
                            <div class="user-pic">
                                <img v-if="isLoggin" src="@Html.Raw(ViewBag.LoginPhoto)" alt="" class="author-picture">
                                <img v-else="isLoggin" src="~/postpage/userhphotonull.svg" alt="" class="author-picture">
                            </div>
                        </div>

                        <div class="textarea-box">
                            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入你的訊息"
                                  maxlength="200" rows="3" name="content" v-model="value"></textarea>
                            <div class="statics-text"><span>{{wordvalue}}</span>/200字</div>
                        </div>
                        <div class="col-auto">
                            <input type="button" class="btn btn-primary" id="commentbtn" disabled data-caseid="@Model.CaseId" value="留言" v-on:click="addcoment" />
                        </div>

                    </div>
                </form>
                <div id="message">

                    <!-- 回應爸爸 -->
                    <div class="respone-mes-frame" v-for="item in msglist">
                        <div class="responer-pic">
                            <a href="">
                                <div class="pad-avatar">
                                    <img v-bind:src="item.magUserPhoto" alt="" onerror="this.src='https://i.pinimg.com/564x/31/1e/34/311e34183aa017d0dd4b232a8a5f3cd8.jpg';this.onerror = null" class="respons-picture">
                                </div>
                            </a>
                        </div>

                        <div class="pad-content">
                            <div class="responser-name-frame">
                                <div class="responser-name">{{item.msgUserName}}</div>
                                <span class="comment-id" hidden>{{item.msgId}}</span>
                                <span class="responser-name-id" hidden>{{item.msgUserId}}</span>
                            </div>
                            <div class="responser-context">
                                <div class="text">
                                    {{item.msgContent}}
                                </div>
                            </div>
                            <div class="response-day-button">
                                <i class="fa-regular fa-clock"></i>
                                <span class="post-time">留言日期：{{item.msgAddDate|showDate}}</span>
                                <input type="button" class="replay-btn" v-on:click="recommentre" value="回覆" />

                            </div>
                            <!-- 回應小孩 -->
                            <div class="comment-bother-frame" v-for="x in item.mychildinhouse">
                                <div class="comment-bother">
                                    <a href="" class="comment-pic-frame">
                                        <div style="width: 24px; height: 24px;" class="avatar-frame">
                                            <img v-bind:src="x.childtoUserHphoto" alt=""  class="comment-bother-pic">
                                        </div>
                                    </a>
                                    <div class="comment-brother-re">
                                        <div class="responser-name-frame">
                                            <a class="responser-name" href="">{{x.childname}}</a>
                                            <span class="comment-id-ch" hidden>{{x.childparentid}}</span>
                                            <span class="responser-name-id-ch" hidden>{{x.chileuserid}}</span>
                                            <div class="reply-user">
                                                <span>回覆給：<span>{{x.childtoUsername}}</span></span>
                                                <div class="comment-bother">
                                                    <a href="">
                                                        <img v-bind:src="x.childHphoto" alt=""  class="comment-bother-pic">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="text">{{x.childcontent}}</div>
                                        <div class="response-day-button">
                                            <i class="fa-regular fa-clock"></i>
                                            <span class="post-time">留言日期：{{x.childaddDate|showDate}}</span>
                                            <input type="button" class="replay-btn" v-on:click="recommentreboy" value="回覆" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 回應訊息輸入 -->
                            <form asp-action='AddreComment' asp-controller='PostPage' id="comment-bother-frame-input-top" class="comment-bother-frame-input-top" hidden>
                                <div class='comment-bother-frame-input'>
                                    <span id='comment-id-resp' name="parentid" hidden></span>
                                    <span id='comment-touser-id' name="touserid" hidden></span>
                                    <div class='comment-bother-input'>
                                        <div class='textarea-box'>
                                            <textarea type='text' class='form-control responeenter' id='exampleFormControlTextarea2' maxlength='200' rows='3' name="content" v-model="valuecd"></textarea>
                                            <div class='statics-text'><span>{{wordvaluecd}}</span>/200字</div>
                                        </div>
                                        <div class='col-auto-input'>
                                            <input type='button' class='btn btn-primary respbtn' data-bs-toggle='button' id='commentbtmre' value='留言' v-on:click="addrecomment" disabled />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1000">
                    <div id="ToastTransResult" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="fa-solid fa-bell"></i>
                            <strong class="me-auto">&nbsp;通知</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{toastSubmitResult}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    @section Scripts
    {
    <script>
        var caseId = @Model.CaseId;
        var isExecute = @Json.Serialize(Model.IsExecute);
        var vmPoint = new Vue({
            el: "#confirmCase",
            data: {
                msgUserModel: [],
                isWaitForTrans: !isExecute,
                selectedUser: "User",
                selectedUserId: "",
                UserPoint:0,
                orginPoint:0,
                finalPoint: 0,
                isOwner:false,
                setPointLock:true
            },
            methods: {
                getMsgUserModel: function() {
                    fetch("/PostPage/GetMsgUserModel/" + caseId)
                        .then(res => { return res.json() })
                        .then(data => {
                            if (data != "null") {
                                var obj = JSON.parse(data);
                                vmPoint.msgUserModel = obj.MsgList.filter(x => x.UserName != "@Html.Raw(Model.UserNName)");
                                vmPoint.finalPoint = vmPoint.orginPoint = obj.CasePoint;
                                vmPoint.UserPoint = obj.UserPoint;
                            }
                        })
                        .catch(err => console.log(err))
                },
                selectUser: function(e) {
                    var userItem = document.getElementsByName("userItem");
                    var inpUser = document.getElementsByName("inpUser");
                    inpUser.forEach(x => x.removeAttribute("checked"));
                    userItem.forEach(x => x.classList.remove("active"));
                    e.target.classList.add("active");
                    e.target.childNodes[0].checked = true;
                    this.selectedUser = e.target.dataset.username;
                    this.selectedUserId=e.target.dataset.userid;
                },
                modalBeBelow: function() {
                    var modalBackdrop = document.querySelector(".modal-backdrop.fade.show");
                    modalBackdrop.style.zIndex = 1049;
                    var listModal = document.getElementById("listModal");
                    listModal.style.zIndex = 1050;
                },
                savePointTransLog: function() {
                    fetch("/PostPage/SavePointTransLog", {
                        method: "POST",
                        body: JSON.stringify({ CaseId: caseId, CasePoint: vmPoint.finalPoint, TargetUserId: 1 }),
                        headers: { "Content-Type": "application/json" }
                    })
                        .then(res => {
                            if (res.status == 200 & res.ok == true) {
                                $("#listModal").modal("hide");
                                $("#confirmModal").modal("hide");
                                vmPoint.isWaitForTrans = false;
                            }
                        })
                        .catch(res => console.log(res))
                },
                isNumber: function(e) {
                    e = (e) ? e : window.event;
                    var charCode = (e.which) ? e.which : e.keyCode;
                    if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                        //disable keypress event
                        e.preventDefault();;
                    } else {
                        return true;
                    }
                }, 
                setPointEnable: function() {
                    this.setPointLock = false;
                }
            },
            computed: {
                isModalNeedScroll: function() {
                    return this.msgUserModel.length > 4 ? true : false;
                },
                isPostHasMsg: function() {
                    return this.msgUserModel.length > 0 ? true : false;
                },
                isPointExcess: function() {
                    return this.finalPoint>=this.UserPoint?true : false;
                }
            },
            created: function() {
                this.getMsgUserModel();
            },
            mounted: function() {
                //if user is owner of the post,show transaction button
                fetch("/PostPage/IsOwner?CaseId=" + caseId)
                    .then(res => res.text())
                    .then(data => vmPoint.isOwner = data == "true" ? true : false);
                //set first msg user as default selection in list modal
                setTimeout(function() {
                    var userItem = document.getElementsByName("userItem")[0];
                    if (userItem!=undefined)userItem.click();
                }, 500);
            }
        });

        var msgData = @Html.Raw(ViewBag.tmessages);
        let PP = new Vue({
            el: "#postpage",
            data: {
                msglist: msgData,
                value: "",
                valuecd: "",
                toastSubmitResult:"",
                isLoggin:false
            },

            filters: {
                showDate: function(e) {
                    if (e.includes("T")) {
                        return e.split("T")[0];
                    }
                }
            },
            methods: {
                addcoment: function() {
                    if (this.isLoggin == false) { 
                        PP.toastNeedLoggin();
                        return;
                    }
                    var id = document.getElementById("commentbtn").dataset.caseid;
                    var formData = new FormData();
                    formData.append("id", id);
                    formData.append("content", $("#exampleFormControlTextarea1").val());
                    $.ajax({
                        url: "/PostPage/AddComment",
                        type: "POST",
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(res) {
                            PP._data.value = "";              
                            PP.toastMsgResult(true);
                            PP.msglist.push(res)
                            $("#commentbtn").attr("disabled", "true");
                            if ($(".respone-mes-frame").length != 0) { 
                            var targetTop = $(".respone-mes-frame").last().offset().top;
                            $(window).scrollTop(targetTop);
                            }
                            
                        },
                        error: function(res) {
                            PP.toastMsgResult(false);
                            $("#exampleFormControlTextarea1").val("");
                        }
                    });
                },
                recommentre: function(e) {
                    $("textarea").val("");
                    $(".comment-bother-frame-input-top").attr("hidden", "hidden")
                    var y = $("[name=content]").length
                    var z = $("[name=content]:hidden").length
                    var tousername = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".responser-name").text()
                    var touserid = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".responser-name-id").text()
                    var commentid = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".comment-id").text()
                    $(".responeenter").attr("placeholder", "回覆給：" + tousername)
                    $("#comment-touser-id").text(touserid)
                    $("#comment-id-resp").text(commentid)

                    if (z + 1 == y) {
                        $(e.target).parents(".response-day-button").siblings("#comment-bother-frame-input-top").removeAttr("hidden")
                    };
                },
                recommentreboy: function(e) {
                    $("textarea").val("");
                    $(".comment-bother-frame-input-top").attr("hidden", "hidden")

                    var tousername = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".responser-name").text()
                    var touserid = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".responser-name-id-ch").text()
                    var commentid = $(e.target).parents(".response-day-button").siblings(".responser-name-frame").children(".comment-id-ch").text()

                    $(".responeenter").attr("placeholder", "回覆給：" + tousername)
                    $("#comment-touser-id").text(touserid)
                    $("#comment-id-resp").text(commentid)


                    var y = $("[name=content]").length
                    var z = $("[name=content]:hidden").length
                    if (z + 1 == y) {
                        $(e.target).parents(".comment-bother-frame").siblings("#comment-bother-frame-input-top").removeAttr("hidden")
                    }
                },
                addrecomment: function(e) {
                     if (this.isLoggin == false) { 
                        PP.toastNeedLoggin();
                        return;
                    }
                    var id = $("#commentbtn").data("caseid");
                    var textval = $(e.target).parents(".col-auto-input").siblings(".textarea-box").children(".responeenter").val()
                    var formData = new FormData();
                    formData.append("id", id);
                    formData.append("content", textval);
                    formData.append("parentid", $("#comment-id-resp").text());
                    formData.append("touserid", $("#comment-touser-id").text());
                    var y = $("#comment-id-resp").text();
                    $.ajax({
                        url: "/PostPage/AddreComment",
                        type: "POST",
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(res) {
                            PP.toastMsgResult(true);
                            var msglistindex = PP.msglist.findIndex(x => x.msgId == y)
                            PP.msglist[msglistindex].mychildinhouse.push(res)
                            $(".comment-bother-frame-input-top").attr("hidden", "hidden")
                             PP._data.valuecd= "";
                             $("#commentbtmre").attr("disabled", "true");
                        },
                        error: function(res) {
                            PP.toastMsgResult(false);
                        },
                    });
                },
                toastMsgResult: function(isSuccess) {
                    PP.toastSubmitResult = isSuccess==true?"已新增留言":"Oops...留言失敗";
                    var toastTransResult = document.getElementById("ToastTransResult")
                    var toast = new bootstrap.Toast(toastTransResult);
                    toast.show();
                },
                toastNeedLoggin: function() {
                        PP.toastSubmitResult = "請先登入";
                        var toastTransResult = document.getElementById("ToastTransResult")
                        var toast = new bootstrap.Toast(toastTransResult);
                        toast.show();
                }
            },
            computed: {
                wordvalue: function() {
                    return this.value.length;
                },
                wordvaluecd: function() {
                    return this.valuecd.length;
                },
            },
            mounted: function() { 
                fetch("/PostPage/IsLoggin")
                    .then(res =>  
                        res.text())
                    .then(data => 
                       PP.isLoggin= data == "true" ? true : false
                    )
                    .catch(err => console.log(err));
            }
        })
    </script>
    <script src="~/js/PostPage.js"></script>
}
