@model IEnumerable<MutualBank.Models.Message>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/postpage.css" asp-append-version="true" />

}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<body id="postpagebody">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <div class="postpage">
        <div class="page-top">
            <div class="page-title">標題</div>
            <div calss="need">需求</div>
        </div>
        <!-- 圖片與資訊 -->
        <div class="page-botton">
            <!-- 圖片 -->
            <div class="author-pic">
                <div class="pic-frame">
                    <img src="background.jpg" alt="無此圖片">
                </div>
            </div>
            <!-- 資訊 -->
            <div class="author">
                <span class="author-pic-name">
                    <div class="authorpicture-frame">
                        <img src="background.jpg" alt="無此圖片" class="author-picture">
                    </div>
                    <div class="author-name">
                        <h2 style="padding-left:20px; font-size:16px">陳曉明<h2>
                    </div>
                </span>
                <div class="author-itemlist">
                    <div calss="post-time">
                        <span>
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                        <span style="padding-left:6px;">建立日期：<span>2022-07-03</span></span>
                    </div>
                    <div calss="end-time">
                        <span style="padding-left: 2px;">
                            <i class="fa-solid fa-hourglass-end"></i>
                        </span>
                        <span style="padding-left:5px ;">結案時間：<time datetime="">2022-07-13</time></span>
                    </div>
                    <div calss="need-time">
                        <span>
                            <i class="fa-regular fa-clock"></i>
                        </span>
                        <span style="padding-left:3px ">需求時間：<time datetime="">2022-07-10</time></span>
                    </div>
                    <div calss="need-location">
                        <span>
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span style="padding-left:5px ">地點：<span>台北市士林區</span></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- 介紹 -->
        <div calss="atricle-content-frame">
            <div class="article-contnt-title">
                <span>簡介</span>
            </div>
            <div class="article-content">
                <span class="article">還沒有寫任何東西喔....</span>
            </div>
        </div>

        <!-- 留言板 -->
        <div class="messageboard-frame">
            <div class="messageboard-title"> 留言</div>
            <!-- 輸入訊息 -->
            <div class="comment-frame">
                <div>
                    <div class="user-pic">
                        <img src="background.jpg" alt="無此圖片" class="author-picture">
                    </div>
                </div>
                <div class="textarea-box">
                    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入你的訊息"
                              maxlength="200" rows="3"></textarea>
                    <div class="statics-text">0/200字</div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" disabled>
                        留言
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    新增成功
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- 回應1 -->
            <div class="respone-mes-frame">
                <div class="responer-pic">
                    <a href="">
                        <div class="pad-avatar">
                            <img src="background.jpg" alt="無此圖片" class="respons-picture">
                        </div>
                    </a>
                </div>

                <div class="pad-content">
                    <div>
                        <div class="responser-name">留言者1</div>
                    </div>
                    <div class="responser-context">
                        <div class="text">
                            1111111
                        </div>
                    </div>
                    <div class="response-day-button">
                        <i class="fa-regular fa-clock"></i>
                        <span class="post-time">XX 天前</span>
                        <span class="replay-btn">回覆</span>

                    </div>
                    <!-- 回應2 -->
                    <div class="comment-bother-frame">
                        <div class="comment-bother">
                            <a href="" class="comment-pic-frame">
                                <div style="width: 24px; height: 24px;" class="avatar-frame">
                                    <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                </div>
                            </a>
                            <div class="comment-brother-re">
                                <div class="responser-name-frame">
                                    <a class="responser-name" href="">回覆者的名字</a>
                                    <div class="reply-user">
                                        <span>回覆給：</span>
                                        <div class="comment-bother">
                                            <a href="">
                                                <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                            </a>
                                        </div>
                                        <a>名稱</a>
                                    </div>

                                </div>
                                <div class="text">回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容回覆內容</div>
                                <div class="response-day-button">
                                    <i class="fa-regular fa-clock"></i>
                                    <span class="post-time">XX 天前</span>
                                    <span class="replay-btn">回覆</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 回應訊息輸入 -->
                    <!-- <div class="comment-bother-frame-input">
                        <div class="comment-bother-input">
                            <a href="" class="comment-pic-frame">
                                <div style="width: 24px; height: 24px;" class="avatar-frame">
                                    <img src="background.jpg" alt="無此圖片" class="comment-bother-pic">
                                </div>
                            </a>
                                <div class="textarea-box">
                                    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入你的訊息"
                                        maxlength="200" rows="3"></textarea>
                                    <div class="statics-text">0/200字</div>
                                </div>
                                <div class="col-auto-input">
                                    <button type="button" class="btn btn-primary" disabled data-bs-toggle="button">留言</button>
                                </div>

                            </div>
                        </div> -->
                    <!--  -->
                </div>

            </div>
        </div>
    </div>
 


</body>
@section Scripts
    {
    <script src="~/js/PostPage.js"></script>
}

    @*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MsgAddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgCaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MsgAddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgCaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MsgId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MsgId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MsgId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
