@model MutualBank.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserHphoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserHphoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSkillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSkillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAreaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAreaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserResume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserResume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFaculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFaculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPoint)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
