@model MutualBank.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    var id = ViewBag.Id;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>使用者 id: @ViewBag.Id - 詳細資料</h1>
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserHphoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserHphoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSkillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSkillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAreaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAreaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserResume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserResume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFaculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFaculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPoint)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-lg-2">
        <a class="btn btn-lg btn-backtolist" asp-action="Index">Back to List</a>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-lg btn-saveyellow" asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a>
    </div>
</div>
