@model IEnumerable<MutualBank.Areas.Admin.Models.ViewModel.UserLogin>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>使用者資料管理 - 首頁</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginPwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginAddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserHphoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAreaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFaculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginPwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginAddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserHphoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAreaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserResume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFaculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPoint)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

