<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MutualBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MutualBank.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root-color.css" asp-append-version="true" />
    <link rel="icon" href="~/Img/nav/logo.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Img/nav/logo.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">\
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("ScriptsReady",required:false)
</head>

<body>
    <header>
        <div class="navBar" id="navBar">
            <div class="topL">
                <div class="logo"><a asp-action="Index" asp-controller="Home"><img src="~/Img/nav/logo.png"></a></div>
                <form class="m-auto" method="get" action="@Url.Action("Search","Home")">
                    <div class="search">
                        <div class="area m-1 me-0">
                            <select class="selectList" id="AreaCity" name="AreaCity" v-model="selectedCity" v-on:change="getAreaTown">
                                <option class="selectOption" value="default" >全部縣市</option>
                                <option class="selectOption" v-for="item in areaCity" :value="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="city m-1">
                            <select class="selectList" id="AreaTown" name="AreaTown" v-model="selectedTown">
                                <option class="selectOption" value="default" >{{areaText}}</option>
                                <option class="selectOption" v-for="item in areaTown" :value="item">{{item}}</option>
                            </select>
                        </div>
                        <input type="text" id="KeyWord" name="KeyWord" placeholder="輸入關鍵字">
                        <button class="searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>

            </div>

            <div class="topR">
                <i class="iconMaun fa-solid fa-bars"></i>
                <div class="barManu">
                    <ul>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
            <div class="toTop">
                <a href="#"><i class="fa-solid fa-circle-arrow-up"></i></a>
            </div>
        </div>
    </header>

    <div class="wrap-panel">
        <div class="panelsToggle"></div>
    </div>

    <div class="container-fuild fromNav">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MutualBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id=buyPointmodal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">點數購買</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="radio" name="select" id="option-1" value="100" checked>
                    <input type="radio" name="select" id="option-2" value="300">
                    <input type="radio" name="select" id="option-3" value="500">

                    <label for="option-1" class="option option-1">
                        <span><i class="fa-solid fa-diamond" style="font-size:12px;color:var(--help)"></i>100</span>
                    </label>
                    <label for="option-2" class="option option-2">
                        <span><i class="fa-solid fa-diamond" style="font-size:12px;color:var(--help)"></i>300</span>
                    </label>
                    <label for="option-3" class="option option-3">
                        <span><i class="fa-solid fa-diamond" style="font-size:12px;color:var(--help)"></i>500</span>
                    </label>
                </div>
                <div class="modal-footer">
                    <button class="btn" onclick="buyPoint()">確認購買</button>

                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/d0f99bafb2.js" crossorigin="anonymous"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        //保留User上次搜尋的地區與關鍵字
        var logArea = "@Html.Raw(ViewBag.LogArea)";
        var logTown = "@Html.Raw(ViewBag.LogTown)";

        if (logArea == "default" | logArea == "") {
            vmNav.selectedCity = "default";
        }
        else {
            vmNav.getAreaTown(logArea);
            vmNav.selectedCity = logArea;
        }
        if (logTown == "default" | logTown == "") {
            vmNav.selectedTown = "default";
        }
        else {
            vmNav.selectedTown = logTown;
            vmNav.areaText = "全部";
        }
        var logKeyWord = "@Html.Raw(ViewBag.LogKeyWord)";
        var KeyWord = document.getElementById("KeyWord");
        KeyWord.value = logKeyWord;



        function buyPoint() {
            var point = $("[name='select']:checked").val();
            var OrderData = {
                Amt: point
            };
            $.ajax({
                        type: "post",
                        url: "/NewebPay/SpgatewayPayBill",
                        data: OrderData,
                    }).done(res => {
                        console.log(res);
                        const form = document.createElement('form');
                        form.method = 'post';
                        form.action = 'https://ccore.newebpay.com/MPG/mpg_gateway';//藍新金流驗證網址(測試環境)
                        for (const key in res) {
                            if (res.hasOwnProperty(key)) {
                                const hiddenField = document.createElement('input');
                                hiddenField.type = 'hidden';
                                hiddenField.name = key[0].toUpperCase()+key.slice(1);
                                hiddenField.value = res[key];
                                form.appendChild(hiddenField);
                            }
                        }
                        console.log(form);
                        document.body.appendChild(form);
                        form.submit();
                    })
                        .fail(err => console.log(err))
        }
    </script>
    <style>


    input[type="radio"] {
        display: none;
    }

    #option-1:checked:checked ~ .option-1,
    #option-2:checked:checked ~ .option-2
    #option-3:checked:checked ~ .option-3, {
        border-color: #0069d9;
        background: var(--bg);
    }

        #option-1:checked:checked ~ .option-1 .dot,
        #option-2:checked:checked ~ .option-2 .dot,
        #option-3:checked:checked ~ .option-3 .dot {
            background: var(--bg);
        }

            #option-1:checked:checked ~ .option-1 .dot::before,
            #option-2:checked:checked ~ .option-2 .dot::before,
            #option-3:checked:checked ~ .option-3 .dot::before {
                opacity: 1;
                transform: scale(1);
            }

        #option-1:checked:checked ~ .option-1 span,
        #option-2:checked:checked ~ .option-2 span,
        #option-3:checked:checked ~ .option-3 span {
            color: var(--skill);
        }
</style>
</body>


</html>
