<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MutualBank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MutualBank.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root-color.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">\
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("ScriptsReady",required:false)
</head>

<body>
    <header>
        <div class="navBar" id="navBar">
            <div class="topL">
                <div class="logo"><a asp-action="Index" asp-controller="Home"><img src="~/Img/nav/logo.png"></a></div>
                <form class="m-auto" method="get" action="@Url.Action("Search","Home")">
                    <div class="search">
                        <div class="area m-1 me-0">
                            <select class="selectList" id="AreaCity" name="AreaCity" v-model="selectedCity" v-on:change="getAreaTown">
                                <option class="selectOption" value="default" >全部縣市</option>
                                <option class="selectOption" v-for="item in areaCity" :value="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="city m-1">
                            <select class="selectList" id="AreaTown" name="AreaTown" v-model="selectedTown">
                                <option class="selectOption" value="default" >{{areaText}}</option>
                                <option class="selectOption" v-for="item in areaTown" :value="item">{{item}}</option>
                            </select>
                        </div>
                        <input type="text" id="KeyWord" name="KeyWord" placeholder="輸入關鍵字">
                        <button class="searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>

            </div>

            <div class="topR">
                <i class="iconMaun fa-solid fa-bars"></i>
                <div class="barManu">
                    <ul>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
            <div class="toTop">
                <a href="#"><i class="fa-solid fa-circle-arrow-up"></i></a>
            </div>
        </div>
    </header>

    <div class="wrap-panel">
        <div class="panelsToggle"></div>
    </div>

    <div class="container-fuild fromNav">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MutualBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/d0f99bafb2.js" crossorigin="anonymous"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        //保留User上次搜尋的地區與關鍵字
        var logArea = "@Html.Raw(ViewBag.LogArea)";
        var logTown = "@Html.Raw(ViewBag.LogTown)";

        if (logArea == "default" | logArea == "") {
            vmNav.selectedCity = "default";
        }
        else {
            vmNav.getAreaTown(logArea);
            vmNav.selectedCity = logArea;
        }
        if (logTown == "default" | logTown == "") {
            vmNav.selectedTown = "default";
        }
        else {
            vmNav.selectedTown = logTown;
            vmNav.areaText = "全部";
        }
        var logKeyWord = "@Html.Raw(ViewBag.LogKeyWord)";
        var KeyWord = document.getElementById("KeyWord");
        KeyWord.value = logKeyWord;
    </script>
    @*@if (User.Identity.IsAuthenticated)
    {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script>
    toastr.options =
    {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": function () { location.href = "/Home/ProfilePageAjax"; },
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
    }

    var userName = "@User.Identity.Name";

    var connection = new signalR.HubConnectionBuilder().withUrl("/messageHub").build();

    connection.start().then(function() {
    connection.invoke("Online", userName);
    }).catch (function(err) {
    return console.error(err.toString());
    });
    connection.on("UserOnline", function(user, UserId,Msg) {
    toastr["success"](`目前有${Msg}則未讀訊息`, `歡迎您 ${user}`)
    });

    </script>
    }*@
</body>


</html>
