@{
    ViewData["Title"] = "Home Page";
}
@{
    //初始化Case
    var modelDataString = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
    var tagDataString = Newtonsoft.Json.JsonConvert.SerializeObject((List<Skill>)ViewBag.Tags);
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
}

    <div class="wrap" id="home">
        <div id="searchLabel">
            <div id="areaLabel">
                @if (@ViewBag.Area != null)
            {
                <span class="searchLabel">@ViewBag.Area<button class="searchLabelClose" id="areaLabelCloseBtn">x</button></span>
            }
        </div>
        <div id="typeLabel"></div>
        <div id="tagLabel"></div>

    </div>
    <div class="home">
        <div class="typeBar">
            <button type="button" class="butn help" name="type" data-bit=true v-on:click="getTypeModel">需要幫忙</button>
            <button type="button" class="butn skill" name="type" data-bit=false v-on:click="getTypeModel">提供技能</button>
        </div>

        <div class="tagBar">
            <div class="tags">
                <span class="tagName" v-for="item in tagList" :data-skillid="item.SkillId" v-on:click="getTagModel">{{item.SkillName}}</span>
            </div>

            <div class="sort">
                <span>排序：</span>
                <select class="sortSelect" id="orderModel" v-on:change="orderModel">
                    <option value="releaseDate">發佈時間</option>
                    <option value="messageCount">留言數</option>
                    <option value="expireDate">期限</option>
                </select>
                <div class="icon" v-on:click="orderAscOrDesc">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
                <div class="col" v-for="item in caseViewModel">
                    <div class="card  mb-2 w-100">
                        <div class="imgBx">
                            <img src="https://picsum.photos/id/96/400/400" class="card-img-top p-2" alt="圖片">
                        </div>
                        <span style="cursor:pointer" :data-skillid="item.CaseSkillId" v-on:click="getTagModel">{{item.CaseSkillName}}</span>
                        <div class="card-body">
                            <h5 class="card-title">{{item.CaseTitle}}</h5>
                            <div style="height:50px;"><p class="card-text mt-1">{{item.CaseIntroduction}}</p></div>
                            <div class="d-flex  justify-content-center">
                                <a name="temp" class="btn" :data-caseid="item.CaseId" v-on:click="redirectToCasePage">留言</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts{

    <script>
        var caseModel = @Html.Raw(modelDataString);
        var tagListData = @Html.Raw(tagDataString);
        var orderByDafult = document.getElementById("orderModel").value;
        //Vue
        var vmIndex = new Vue({
            el: "#home",
            data: {
                caseViewModel: caseModel,
                caseDataModel: caseModel,
                tagList: tagListData,
                sortByType: "null",
                sortByTag: -1,
                orderByOption: orderByDafult,
                isOrderByDesc: 1
            },
            methods: {
                //=====
                //Sort
                //建立篩選標籤到畫面(通用)
                addLabel: function(posId, txt, clickEvent) {
                    posId.innerHTML = "";
                    var span = document.createElement("span");
                    span.classList.add("searchLabel");
                    span.innerText = txt;
                    var button = document.createElement("button");
                    button.classList.add("searchLabelClose");
                    button.innerText = "x";
                    span.append(button);
                    posId.append(span);
                    button.addEventListener("click", clickEvent);
                },
                //關閉篩選標籤(通用)
                closeLabel: function(e) {
                    var parentDiv = e.target.parentElement.parentElement;
                    parentDiv.innerHTML = "";
                },
                closeTypeLabel: function(e) {
                    //移除標籤並清除對應data(恢復初始值)
                    vmIndex.closeLabel(e);
                    vmIndex.sortByType = "null";
                    //更新畫面模型

                    if (vmIndex.sortByTag != -1) {
                        vmIndex.caseViewModel = vmIndex.filterTagModel(vmIndex.caseDataModel, vmIndex.sortByTag);
                    }
                    else {
                        vmIndex.caseViewModel = vmIndex.caseDataModel;
                    }
                },
                closeTagLabel: function(e) {
                    //移除標籤並清除對應data(恢復初始值)
                    vmIndex.closeLabel(e);
                    vmIndex.sortByTag = -1;
                    //更新畫面模型
                    if (typeof (vmIndex.sortByType) == Boolean) {
                        vmIndex.caseViewModel = vmIndex.filterTypeModel(vmIndex.caseDataModel, vmIndex.sortByType);
                    }
                    else {
                        vmIndex.caseViewModel = vmIndex.caseDataModel;
                    }
                },
                //依需求或技能篩選Model(通用)
                filterTypeModel: function(vmModel, b) {
                    //vmModel can be DataModel or ViewModel
                    return vmModel.filter(x => x.CaseNeedHelp == b);
                },
                //依需求或技能拿模型
                getTypeModel: function(e) {
                    var bitString = e.target.dataset.bit;
                    var bit = bitString == "true" ? true : false;
                    vmIndex.sortByType = bit;
                    vmIndex.addLabel(typeLabel, e.target.innerText, vmIndex.closeTypeLabel);

                    vmIndex.caseViewModel = vmIndex.filterTypeModel(vmIndex.caseDataModel, bit);

                    if (vmIndex.sortByTag != -1) {
                        vmIndex.caseViewModel = vmIndex.filterTagModel(vmIndex.caseViewModel, vmIndex.sortByTag);
                    }
                    vmIndex.orderModelForSort();
                },
                //依技能分類篩選Model(通用)
                filterTagModel: function(vmModel, n) {
                    return vmModel.filter(x => x.CaseSkillId == n);
                },
                //依技能分類拿模型
                getTagModel: function(e) {
                    var skillid = e.target.dataset.skillid;
                    vmIndex.sortByTag = skillid;
                    vmIndex.addLabel(tagLabel, e.target.innerText, vmIndex.closeTagLabel);

                    vmIndex.caseViewModel = vmIndex.filterTagModel(vmIndex.caseDataModel, skillid);

                    if (typeof (vmIndex.sortByType) == Boolean) {
                        vmIndex.caseViewModel = vmIndex.filterTypeModel(vmIndex.caseViewModel, vmIndex.sortByType);
                    }
                    vmIndex.orderModelForSort();
                },
                orderModelForSort: function() {
                    var para = vmIndex.orderByOption;
                    var isDesc = vmIndex.isOrderByDesc;

                    switch (para) {
                        case "releaseDate":
                            vmIndex.orderByReleaseDate(isDesc);
                            break;
                        case "messageCount":
                            vmIndex.orderByMessageCount(isDesc);
                            break;
                        case "expireDate":
                            vmIndex.orderByExpireDate(isDesc);
                            dafault:
                            break;
                    }
                },
                //=====
                //Order
                orderModel: function(e) {
                    var para = vmIndex.orderByOption = e.target.value;
                    //升序或降序
                    var isDesc = vmIndex.isOrderByDesc;

                    switch (para) {
                        case "releaseDate":
                            vmIndex.orderByReleaseDate(isDesc);
                            break;
                        case "messageCount":
                            vmIndex.orderByMessageCount(isDesc);
                            break;
                        case "expireDate":
                            vmIndex.orderByExpireDate(isDesc);
                            dafault:
                            break;
                    }
                },
                orderAscOrDesc: function() {
                    var isDesc = vmIndex.isOrderByDesc = -vmIndex.isOrderByDesc;
                    //根據Order紀錄值的資料傳回排列陣列
                    var para = vmIndex.orderByOption;
                    switch (para) {
                        case "releaseDate":
                            vmIndex.orderByReleaseDate(isDesc);
                            break;
                        case "messageCount":
                            vmIndex.orderByMessageCount(isDesc);
                            break;
                        case "expireDate":
                            vmIndex.orderByExpireDate(isDesc);
                            dafault:
                            break;
                    }
                },
                //排序
                orderByReleaseDate: function(intDesc) {
                    //紀錄降升序狀態
                    intDesc == 1 ? vmIndex.isOrderByDesc = 1 : vmIndex.isOrderByDesc = -1;
                    return vmIndex.caseViewModel.sort(function(a, b) {
                        return b.CaseReleaseDate > a.CaseReleaseDate ? intDesc : -intDesc
                    });
                },
                orderByExpireDate: function(intDesc) {
                    //紀錄降升序狀態
                    intDesc == 1 ? vmIndex.isOrderByDesc = 1 : vmIndex.isOrderByDesc = -1;
                    return vmIndex.caseViewModel.sort(function(a, b) {
                        return b.CaseExpireDate > a.CaseReleaseDate ? intDesc : -intDesc
                    });
                },
                orderByMessageCount: function(intDesc) {
                    if (intDesc == 1) {
                        vmIndex.isOrderByDesc = 1;
                        return vmIndex.caseViewModel.sort(function(a, b) {
                            return b.MessageCount - a.MessageCount
                        });
                    }
                    else {
                        vmIndex.isOrderByDesc = -1;
                        return vmIndex.caseViewModel.sort(function(a, b) {
                            return a.MessageCount - b.MessageCount
                        });
                    }
                },
                //跳轉到Case主頁
                redirectToCasePage: function(e) {
                    var href = "/PostPage/Index/" + e.target.dataset.caseid;
                    e.target.href = href;
                }
            },
            mounted: function() {
                //地區標籤綁定關閉標籤事件
                var areaLabelCloseBtn = document.getElementById("areaLabelCloseBtn");
                if (areaLabelCloseBtn != null) {
                    areaLabelCloseBtn.addEventListener("click", function(e) {
                        vmIndex.closeLabel(e);
                        //畫面Model顯示全部資料
                        $.ajax({
                            url: "@Url.Action("GetAllCaseModel","Home")",
                            type: "GET"
                        })
                            .done(function(res) {
                                var nval = JSON.parse(res);
                                vmIndex.caseDataModel = vmIndex.caseViewModel = nval;
                                if (typeof (vmIndex.sortByType) == Boolean) {
                                    vmIndex.caseViewModel = vmIndex.filterTypeModel(vmIndex.caseDataModel, vmIndex.sortByType);
                                }
                                if (vmIndex.sortByTag != -1) {
                                    vmIndex.caseViewModel = vmIndex.filterTagModel(vmIndex.caseViewModel, vmIndex.sortByTag);
                                }
                            })
                            .fail(function(res) {
                                console.log(res);
                            });

                    });
                }

                //點選order icon時切換圖示
                var iconSort = document.querySelector('.tagBar .sort .icon i');
                iconSort.addEventListener('click', function() {
                    iconSort.classList.toggle('fa-arrow-down-short-wide');
                    iconSort.classList.toggle('fa-arrow-up-short-wide');
                });
            }
        });

    </script>

}