@model IEnumerable<MutualBank.Models.Login>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginPwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginPwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoginId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoginId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoginId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
